/*Focused Reset*/

main, header, footer, figcaption, section, div, ul, li, h2, h3, p, a {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    list-style: none;
}

/*Box sizing*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*Font strategy*/

html,
body {
    font: 100% 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: normal;
}

h2 {
    font-size: 4rem;
    font-weight: normal;
}

h3 {
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
}

h4 {
    font-size: 2.6rem;
    font-weight: 300;
}

.main-menu > ul li {
    font-size: 1rem;
    font-weight: bold;
}

.caps {
    text-transform: uppercase;
}

.main-menu > ul

/*Removing nav menu under 700px wide*/

@media (max-width: 700px) {

    .main-menu {

        display: none;

    }

}

/*Global a attributes*/

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #3d3d3d;
    font-weight: 300;
}

a:focus,
a:hover,
a:active {
    color: #F14848;
    outline: none;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.clear:before,
.clear:after {
    content: "";
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    clear: both;
    *zoom: 1;
}

/*------------------------*/

/*Buttons*/

/*LINE HEIGHT SCREWS THE BUTTONS SO SET 0*/

.button-one:link,
.button-one:visited,
.button-one:hover,
.button-one:active,
.button-one:focus {
    text-transform: uppercase;
    display: inline-block;
    background-color: #F14848;
    padding: 20px 25px;
    border-radius: 25px;
    color: #FFFEFE;
    line-height: 0;
}

.button-two:link,
.button-two:visited,
.button-two:hover,
.button-two:active,
.button-two:focus {
    text-transform: uppercase;
    display: inline-block;
    background-color: #FFFEFE;
    padding: 20px 25px;
    border-radius: 25px;
    color: #F14848;
    line-height: 0;
}

/*Header*/

.main-header {
    background-color: White;
    /*position: fixed;*/
    height: 66px;
}

.logo {
    display: inline-block;
    line-height: 66px;
    padding-left: 25px;
}

.main-header img {
    vertical-align: middle;
}

/*Navigation header*/

.main-menu {
    display: inline-block;
    margin-right: 15px;
    float: right;

}

.main-menu ul {
    margin: 0;
}

.main-menu > ul li:first-child a {
    color: #F14848;
    font-weight: 700;
}

.main-menu a {
    padding: 0 10px;
    /*margin-right: 20px;*/
    line-height: 66px;
    display: inline-block;
}

.main-menu li {
    display: inline-block;
}

.main-menu li > ul {
    display: none;
}

/*Download link*/

.learn-more-links .download-link,
.download-link:hover {
    background-color: #F14848;
    color: #FFFEFE
}

/*Your content, comigo's unique experience*/

.your-content-comigo a {
    background-color: #F14848;
    color: #FFFEFE
}

/*footer*/

footer {
    background-color: #3D3D3D;
    background-size: cover;
}

.terms-privacy {
    background-color: #1E2024;
}

.center,
.bottom-center {
    width: 90%;
    max-width: 1050px;
    margin: 0 auto;
}

.site-footer a {
    color: gray;
}

.bottom-nav a {
    text-transform: uppercase;
}

.site-footer a:hover {
    color: #F14848;
}

.site-footer .bottom-nav > li > a {
    color: white;
}

/*.site-footer a:hover {*/
/*color: #F14848;*/
/*}*/

/*.footer-nav-list-1 a,*/
/*.footer-nav-list-2 a {*/
/*color: rgb(122, 122, 122);*/
/*}*/

/*The method above describes the other way of making the lower footer - all to color white and then target a few and turn grey*/

.terms-privacy {
    color: rgb(99, 99, 99);
    background-color: rgb(21, 21, 21);
}

.terms-privacy a {
    color: rgb(99, 99, 99);
    background-color: rgb(21, 21, 21);
}

.terms-privacy a:hover {
    color: white;
}

/*Primary Headline*/

.primary-headline {
    height: 38.8vw;
    background-image: url("../assets/comigo-assets/other/homepage-featured-new-1920x745.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.primary-headline div {
    padding-top: 10%;
    color: white;
    font-weight: normal;
    text-align: center;
    line-height: 8px;
}

.primary-headline h2 {
    padding-top: 10px;
    padding-bottom: 70px;
    margin: 0;
}

/*Why Comgio*/

.why-us {
    text-align: center;
    padding-bottom: 112px;
    padding-top: 110px;
}

.why-us h3 {
    line-height: 0.3rem;
    margin-bottom: 35px;
}

.why-us p {
    font-size: 1.2rem;
    font-weight: 100;
    padding-top: 0;
    padding-bottom: 25px;
}

.why-us span {
    display: block;
}

/*Video section*/

.interactive-list {
    background: rgba(0, 0, 0, 5);
}

.interactive-list header {
    color: white;
    width: 10%;
    padding-left: 50px;
    padding-right: 400px;
    display: inline-block;
}

.interactive-list header span {
    display: block;
}

.interactive-list h3 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 21px;
}

.interactive-list p {
    font-size: 1rem;
    font-weight: 300;
}

.interactive-list ul {
    display: inline-block;
    width: 350px;
}

.interactive-list ul a {
    display: block;
}

/*Service boxes section*/

.service-box {
    display: block;
}

.services-box-1 {
    display: inline-block;
    height: 550px;
    background: url(../assets/comigo-assets/other/ic_EI_cloud_2_home_page.png), url(../assets/comigo-assets/other/home-tv-service-bg1.png);
    background-size: 25vw, 100vw;
    background-repeat: no-repeat, no-repeat;
    background-position: 150px 30px, center center;
    width: 50%;
    float: left;
}

.text-format1 {
    text-align: left;
    color: white;
    padding-top: 320px;
    padding-left: 150px;
    line-height: 40px;
}

.text-format1 h3,
.text-format1 h4,
.text-format2 h3,
.text-format2 h4 {
    margin: 0;
}

.text-format1 h4,
.text-format2 h4 {
    font-size: 1.3rem;
    font-weight: 300;
}

.text-format1 h3,
.text-format2 h3 {
    font-size: 2.5rem;
    font-weight: 300;
}

.text-format1 h4,
.text-format2 h4 {
    padding-bottom: 15px;
}

.services-box-2 {
    display: inline-block;
    height: 550px;
    background: url(../assets/comigo-assets/other/ic-stb-screens.png), url(../assets/comigo-assets/other/home-tv-service-bg2.png);
    background-size: 40%, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: 50px 30px, center center;
    width: 50%;
    float: left;
}

.services-box-2 .text-format2 {
    text-align: left;
    padding-top: 320px;
    padding-left: 50px;
    line-height: 40px;
}

.text-format1 span,
.text-format2 span {
    display: block;
}

.your-content-comigo {
    display: inline-block;
}

aside > img {
    width: 600px;
    height: auto;
    float: left;

}

/*clearing float for next element*/

aside > img:before,
aside > img:after {
    clear: both;
}

/*blog backgrounds*/

.first-blog {
    background-color: #F14848
}

.blog-pic span {
    background-color: #F14848
}

.blog-pic {
    display: inline-block;
}

.blog-pic li {
    width: 16.6%;
    height: 480px;
    display: inline-table;
}

.blog-pic a {
    display: block;
    background: no-repeat center center;
}

.blog span {
    text-transform: uppercase;
}

.second-blog {
    background: url(../assets/comigo-assets/blog/ibc_post_EI-750x508.png) no-repeat center center;
}

.third-blog {
    background: url(../assets/comigo-assets/blog/IMG_9294-750x563.jpeg) no-repeat center center;
}

.forth-blog {
    background: url(../assets/comigo-assets/blog/Image-Blog-Yoav_356121362-copy-750x563.jpg) no-repeat center center;
}

.fifth-blog {
    background: url(../assets/comigo-assets/blog/post_tv_connect-750x508.jpeg) no-repeat center center;
}

.sixth-blog {
    background: url(../assets/comigo-assets/blog/post_quality-750x508.jpeg) no-repeat center center;
}

/*Removing nav menu under 700px wide*/

@media (max-width: 700px) {

    .main-menu {

        display: none;

    }

}

/*Responsive footer*/

@media (max-width: 990px) {
    .center {
        max-width: 660px;
    }
}

