/*removing nav menu under 700px wide*/

@media (max-width: 700px) {

    .main-menu {

        display: none;

    }

}

/*Global a attributes*/

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #3d3d3d;
    font-weight: 300;
}

a:focus,
a:hover,
a:active {
    color: #F14848;
    outline: none;
}

/*footer*/

.site-footer a {
    color: gray;
}

.bottom-nav > li > a {
    color: white;
}

/*.site-footer a:hover {*/
/*color: #F14848;*/
/*}*/

/*.footer-nav-list-1 a,*/
/*.footer-nav-list-2 a {*/
/*color: rgb(122, 122, 122);*/
/*}*/

/*The method above describes the other way of making the lower footer - all to color white and then target a few and turn grey*/

footer {
    background-color: rgb(61, 61, 61);;
}

.terms-privacy {
    color: rgb(99, 99, 99);
    background-color: rgb(21, 21, 21);
}

.terms-privacy a {
    color: rgb(99, 99, 99);
    background-color: rgb(21, 21, 21);
}

.terms-privacy a:hover {
    color: rgb(255, 255, 255);
}


/*Backgrounds*/

.primary-header {
    background-image: url("../assets/comigo-assets/other/homepage-featured-new-1920x745.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;

}