/*Focused Reset*/

main, header, footer, figcaption, section, div, ul, li, h2, h3, p, a {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    list-style: none;
}

/*Box sizing*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*Font strategy*/

html,
body {
    font: 100% 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: normal;
}

h2 {
    font-size: 4rem;
    font-weight: normal;
}

h3 {
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
}

h4 {
    font-size: 2.6rem;
    font-weight: 300;
}

.main-menu > ul > li {
    font-size: 1rem;
    font-weight: bold;
}

.caps {
    text-transform: uppercase;
}

.main-menu > ul

/*Removing nav menu under 700px wide*/

@media (max-width: 700px) {

    .main-menu {

        display: none;

    }

}

/*Global a attributes*/

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #3d3d3d;
    font-weight: 300;
}

a:focus,
a:hover,
a:active {
    color: #F14848;
    outline: none;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.clear:before,
.clear:after {
    content: "";
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    clear: both;
    *zoom: 1;
}

/*------------------------*/

/*Buttons*/

/*LINE HEIGHT SCREWS THE BUTTONS SO SET 0*/

.button-one:link,
.button-one:visited,
.button-one:hover,
.button-one:active,
.button-one:focus {
    text-transform: uppercase;
    display: inline-block;
    background-color: #F14848;
    padding: 20px 25px;
    border-radius: 25px;
    color: #FFFEFE;
    line-height: 0;
}

.button-two:link,
.button-two:visited,
.button-two:hover,
.button-two:active,
.button-two:focus {
    text-transform: uppercase;
    display: inline-block;
    background-color: #FFFEFE;
    padding: 20px 25px;
    border-radius: 25px;
    color: #F14848;
    line-height: 0;
}

/*Body padding so the fixed header wont cut the elements*/

body {
    padding-top: 66px;
}

/*Header*/

.main-header {
    background-color: White;
    position: fixed;
    top: 0;
    left: 0;
    height: 66px;
    width: 100%;
}

.logo {
    display: inline-block;
    line-height: 66px;
    padding-left: 25px;
}

.main-header img {
    vertical-align: middle;
}

/*Navigation header*/

.main-menu {
    padding-right: 15px;
    float: right;
}

.main-menu ul {
    margin: 0;
}

a.selected {
    color: #F14848;
    font-weight: 700;
}

.main-menu a {
    padding: 0 10px;
    /*margin-right: 20px;*/
    line-height: 66px;
    display: inline-block;
}

/*.hide-caps > li {*/
/*padding-right: 100px;*/
/*padding-left: 40px;*/
/*}*/

.main-menu li {
    float: left;
}

.main-menu li > ul {
    display: none;
}

.main-menu li:hover > ul {
    display: block;
    background-color: white;
    position: absolute;
    width: 100%;
    top: 66px;
    left: 0;
    text-transform: uppercase;
    color: black;
}

.main-menu li:hover > ul a {
    font-size: 2.4rem;
    display: block;
    text-align: center;
    line-height: 150px;
    padding: 0 50px;
}

.main-menu li > ul li {
    width: 33.3%;
    float: left;
}

.main-menu .hide-caps > li > ul {
    top: 100%;
    left: 0;
}

.main-menu > ul > li > ul li:hover a:hover {
    background-color: #F14848;
    color: white;
}

.hide-caps > li > ul > li {
    width: 50%;
    float: left;
}

.main-menu li a span {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
}

/*Learn more and Schedule a demo*/

.left-container {
    width: 60%;
    height: 48vw;
    float: left;
    background-color: #F9F9F9;
}

.right-container {
    width: 40%;
    height: 48vw;
    float: left;
    background-color: #E8E8E8;
}

.first-block-left {
    width: 65%;
    height: 40%;
    float: left;
}

.first-block-right {
    width: 35%;
    height: 40%;
    float: left;
}

.download-link {
    display: block;
    height: 100%;
    font-size: 1.6rem;
    font-weight: 400;
    padding-top: 180px;
    padding-left: 20px;
}

.first-block-left h3 {
    color: #3D3D3D;
    font-size: 3.8rem;
    padding-top: 100px;
    padding-left: 40px;
    line-height: 4rem;
}

.second-block-left {
    width: 35%;
    height: 60%;
    float: left;
    background-color: #EFEFEF;
}

.second-block-right {
    width: 65%;
    height: 60%;
    float: left;
    background-color: #E8E8E8;
}

.second-block-right h3 {
    font-size: 1.5rem;
    width: 55%;
    padding-top: 20px;
    padding-left: 20px;
}

.second-block-right img {
    display: block;
    margin: auto;
    width: 60%;
}

.right-container h3 {
    font-size: 4rem;
    width: 70%;
    padding-top: 10px;
    padding-left: 30px;
    color: #3D3D3D;
}

.right-container img {
    padding-left: 30px;
    width: 99%;
    height: 70%;
}

/*Download link*/

.learn-more-links .download-link,
.download-link:hover {
    color: #FFFEFE;
    background-color: #F14848;
}

/*Your content, comigo's unique experience*/

.your-content-comigo a {
    background-color: #F14848;
    color: #FFFEFE
}

/*footer*/

footer {
    background-color: #3D3D3D;
    background-size: cover;
    clear: both;
}

.terms-privacy {
    background-color: #1E2024;
}

.center,
.bottom-center {
    width: 90%;
    max-width: 1050px;
    margin: 0 auto;
}

.site-footer a {
    color: gray;
}

.bottom-nav a {
    text-transform: uppercase;
}

.site-footer a:hover {
    color: #F14848;
}

.site-footer .bottom-nav > li > a {
    color: white;
}


/*.site-footer a:hover {*/
/*color: #F14848;*/
/*}*/

/*.footer-nav-list-1 a,*/
/*.footer-nav-list-2 a {*/
/*color: rgb(122, 122, 122);*/
/*}*/

/*The method above describes the other way of making the lower footer - all to color white and then target a few and turn grey*/

.terms-privacy {
    color: rgb(99, 99, 99);
    background-color: rgb(21, 21, 21);
}

.terms-privacy a {
    color: rgb(99, 99, 99);
    background-color: rgb(21, 21, 21);
}

.terms-privacy a:hover {
    color: white;
}

/*Primary Headline*/

.primary-headline {
    /*divided the picture original ratio
    ( width divided by height then remember vw is % so if it says 0.38, it's 38vw. ) to find out the height to width ratio and then put it in height with vw because theres a ratio between the height and width, they are depended in one another and then background size cover.*/
    height: 38.322vw;
    background-image: url("../assets/comigo-assets/other/homepage-featured-new-1920x745.jpg");
    /*background-repeat: no-repeat;*/
    background-size: cover;
    padding-top: 10%;
}

.primary-headline div {
    color: white;
    font-weight: normal;
    text-align: center;
    line-height: 15px;
}

.primary-headline h2 {
    padding-top: 10px;
    padding-bottom: 70px;
    margin: 0;
}

/*Why Comgio*/

.why-us {
    text-align: center;
    padding-bottom: 10%;
    padding-top: 10%;
}

.why-us h3 {
    line-height: 4.8px;
    margin-bottom: 35px;
}

.why-us p {
    font-size: 1.2rem;
    font-weight: 100;
    padding-top: 0;
    padding-bottom: 25px;
}

.why-us span {
    display: block;
}

/*Video section*/

.interactive-list {
    background: rgba(0, 0, 0, 5);
}

.interactive-list header {
    color: white;
    width: 20%;
    padding-left: 50px;
    padding-right: 400px;
    display: inline-block;
}

.interactive-list header span {
    display: block;
}

.interactive-list h3 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 21px;
}

.interactive-list p {
    font-size: 1rem;
    font-weight: 300;
}

.interactive-list ul {
    display: inline-block;
    width: 350px;
}

.interactive-list ul a {
    display: block;
}

/*Service boxes section*/

.service-box {
    display: block;
}

.services-box-1 {
    display: inline-block;
    height: 550px;
    background: url(../assets/comigo-assets/other/ic_EI_cloud_2_home_page.png), url(../assets/comigo-assets/other/home-tv-service-bg1.png);
    background-size: 25vw, 100vw;
    background-repeat: no-repeat, no-repeat;
    background-position: 150px 30px, center center;
    width: 50%;
    float: left;
}

.text-format1 {
    text-align: left;
    color: white;
    padding-top: 320px;
    padding-left: 150px;
    line-height: 40px;
}

.text-format1 h3,
.text-format1 h4,
.text-format2 h3,
.text-format2 h4 {
    margin: 0;
}

.text-format1 h4,
.text-format2 h4 {
    font-size: 1.3rem;
    font-weight: 300;
}

.text-format1 h3,
.text-format2 h3 {
    font-size: 2.5rem;
    font-weight: 300;
}

.text-format1 h4,
.text-format2 h4 {
    padding-bottom: 15px;
}

.services-box-2 {
    display: inline-block;
    height: 550px;
    background: url(../assets/comigo-assets/other/ic-stb-screens.png), url(../assets/comigo-assets/other/home-tv-service-bg2.png);
    background-size: 40%, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: 50px 30px, center center;
    width: 50%;
    float: left;
}

.services-box-2 .text-format2 {
    text-align: left;
    padding-top: 320px;
    padding-left: 50px;
    line-height: 40px;
}

.text-format1 span,
.text-format2 span {
    display: block;
}

.your-content-comigo {
    display: inline-block;
}

aside > img {
    width: 600px;
    height: auto;
    float: left;

}

/*clearing float for next element*/

aside > img:before,
aside > img:after {
    clear: both;
}

/*blog backgrounds*/

.blog {
    clear: both;
}

.first-blog {
    background-color: #F14848;
    /*position: relative;*/
}

.first-blog div span {
    display: block;
}

.first-blog h4 {
    margin: 0;
    font-size: 4rem;
    font-weight: 300;
}

.first-blog p {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 25px;
}

.blog-pic span {
    background-color: #F14848
}

.blog li {
    width: 16.6%;
    height: 480px;
    float: left;
    position: relative;
}

/*.blog-pic div {*/
    /*color: white;*/
    /*bottom: 20px;*/
    /*left: 25px;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*!*line-height: 60px;*!*/
/*}*/

.blog-pic a {
    bottom: 0;
    left: 0;
    display: inline-block;
    color: white;
    height: 100%;
    width: 100%;
}

.blog-pic div {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.first-blog div {
    padding-bottom: 20px;
    line-height: 70px;
    width: 60%;
}

.first-blog p {}
.blog span {
    text-transform: uppercase;
}

.second-blog {
    background: url(../assets/comigo-assets/blog/ibc_post_EI-750x508.png) no-repeat center center;
}

.third-blog {
    background: url(../assets/comigo-assets/blog/IMG_9294-750x563.jpeg) no-repeat center center;
}

.forth-blog {
    background: url(../assets/comigo-assets/blog/Image-Blog-Yoav_356121362-copy-750x563.jpg) no-repeat center center;
}

.fifth-blog {
    background: url(../assets/comigo-assets/blog/post_tv_connect-750x508.jpeg) no-repeat center center;
}

.sixth-blog {
    background: url(../assets/comigo-assets/blog/post_quality-750x508.jpeg) no-repeat center center;
}



/*Removing nav menu under 700px wide*/

@media (max-width: 700px) {

    .main-menu {

        display: none;

    }

}

/*Responsive footer*/

@media (max-width: 990px) {
    .center {
        max-width: 660px;
    }
}

